/*General Page*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

/*2. Fixed Sidebar*/
.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#logo {
    display: block;
    width: 40%;
    margin: 10px;
    height: auto;
}

.sidebar li a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    transition: 0.2s;
    font-family: "Impact", "Charcoal", sans-serif; 
    font-size: 18px;         
    letter-spacing: 2px;     
    text-transform: uppercase;
}

.sidebar li a.active {
    color: #3283e6;
}

.sidebar li a:hover:not(.active) {
    color: #3283e6;
}

/*3. Main Content Layout*/
.main-content {
    margin-left: 200px;
    padding: 20px;
}

header {
    padding: 150px;
    background-color: #3283e6;
    border-radius: 25px;
    color: white;
    text-align: center;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.text-content {
    flex: 2; 
}

.image-content {
    flex: 1; 
}

#Information-section {
    background-color: #ffffff; 
    color: #000000;
    margin: 20px 0;
    padding: 40px;
    border-radius: 25px;
}

p {
    color: #444444;
    font-family: 'Afacad';
}

ul {
    color: #444444;
    font-family: 'Afacad';
}

strong {
    font-weight: 800;
}

.boxes-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.boxes-item {
    flex: 1;
    min-width: 200px;
    text-align: center;
}

.white-container {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

/*4. Media and Gallery*/
#images {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

#waterfall-img {
    width: 300px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#outsourcing-img {
    width: 450px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#customisation-img {
    width: 300px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#agile-img {
    width: 340px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#Diagram-img {
    width: 340px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#DDictionary-img {
    width: 360px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#Class-img {
    width: 370px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#Req-img {
    width: 340px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#Function-img {
    width: 400px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#Conversion-img {
    width: 340px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#Conversion2-img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#Tall-img {
    width: 340px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#Very-Tall-img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#Wide-img {
    width: 600px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/*5. Footer*/
#footer {
    background-color: #3283e6;
    color: white;
    text-align: center;
    padding: 15px;
    font-style: italic;
    margin-top: 40px;
    border-radius: 10px;
}